table {
  background-color: transparent !important;
  padding: 0 !important;
  margin: 0 !important;

  tr,
  th,
  td {
    padding: 0 !important;
  }
}

.other-card {
  width: 80%;
  background-image: linear-gradient(#ffc489, #ff9b37);
  opacity: 0.8;
  color: #ffffff;
  margin-bottom: 10px;

  &:hover {
    opacity: 1;
  }
}
